@font-face {
  font-family: ubunturegular;
  src: url('../fonts/ubunturegular.woff') format('woff'),
      url('../fonts/ubunturegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}