@font-face {
  font-family: galien;
  src: url('../fonts/galien-regular.woff') format('woff'),
      url('../fonts/galien-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: gilory;
    src: url('../fonts/gilroy-regular.woff') format('woff'),
        url('../fonts/gilroy-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }