.header__wrap{
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%; 
  background-color: transparent;
  align-items: center;
  padding: 0 56px 0 56px;
  margin: 0auto;
}
.header__hamburger{
  font-size: 0;
}