.primary {
    padding-bottom: 205px;
    background: linear-gradient(0deg, #98C3E8 -50%, rgba(152, 195, 232, 0.2) 31%); 
}

.primary__element {
    display: flex;
    flex-direction: column;
    width: 510px;
}

.primary__slogan {
    margin: 189px 0 32px 0;
    font-family: galien;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: $deep-blue;

}

.primary__text {
    margin: 0 0 71px 0;;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: $deep-blue;
}

@media ( max-width: 360px ) {
    .primary {
        padding-bottom: 70px;
    }

    .primary__slogan {
        margin: 115px 0 32px 0;
        font-size: 47px;
        line-height: 55px;
    
    }

    .primary__element {
        width: auto;
    }

    .primary__text {
        margin: 0 0 35px 0;
    }
}